.cross {
  height: 50px;
}

.credit-modal {
  width: 700px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
}

.credit-input-box {
  color: rgb(84, 84, 84);
  font-weight: 600;
}

.credit-input-number {
  background-color: rgb(245, 245, 245);
}

.credit-input {
  height: 30px;
  width: 100px;
  font-weight: normal;
  color: #222222;
}

.company-input {
  height: 30px;
  width: 60px;
  font-weight: normal;
  color: #222222;
}
.credit-input-half {
  height: 30px;
  width: 312px;
  height: 30px;
  // font-weight: normal;
}

.input-date {
  color: #222222;
}

.date-input-1 {
  text-align: right;
  width: 50px;
  height: 27px;
  color: #222222;
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-size: 15px;
  height: 30px;
  font-weight: 500;
}

.date-input-2 {
  text-align: right;
  width: 50px;
  height: 25px;
  color: #222222;
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-size: 15px;
  height: 30px;
  font-weight: 500;
}

.pw-input {
  text-align: right;
  width: 60px;
  color: #222222;
  background-color: rgb(245, 245, 245);
  text-align: center;
  height: 30px;
}

.idnumber-input {
  text-align: right;
  background-color: rgb(245, 245, 245);
  width: 170px;
  height: 30px;
}

.middle-text-box {
  color: gray;
}

.check-box {
  color: #222222;
}
