.rounded-editor {
  border-radius: 15px;
  overflow: hidden;
}

.custom-input {
  position: relative;
}

.custom-input input {
  padding-right: 10px;
}

.required::after {
  content: '*';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
}

@keyframes blinking {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.blinking-effect {
  animation: blinking 1.5s infinite;
}
