.contain {
  margin: 3px 0px 40px 0px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 80%;
}

.inputcontain {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 8px;
  border: 1px solid #ababab;
  border-radius: 6px;

  input {
    flex: 1;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 14px;

    &:focus {
      outline: transparent;
    }
  }

  &:focus-within {
    border: 1px solid #6ba9d4;
  }

  textarea {
    flex: 1;
    border: none;
    min-height: 100px;
    font-size: 14px;

    &:focus {
      outline: transparent;
    }
  }
}

.industrycontain {
  width: 80%;
}
.submitButton {
  position: relative;
  z-index: 0;
}

// DropdownBox
.dropdown-box {
  width: 100%;
  height: 40px;
  padding: 14px 10px 14px 10px;
  border: 1px solid #a5acb1;
  border-radius: 5px;
  background: #ffffff;
  line-height: 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;

  // Arrow
  .arrow {
    position: absolute;
    top: 30%;
    left: calc(100% - 22px);
    font-size: 0.6em;
  }
}

// SelectWrapper
.select-wrapper {
  width: 100%;
  border: 1px solid #a5acb1;
  border-radius: 5px;
  background: #ffffff;
  line-height: 15px;
  box-shadow:
    0 1px 1px 0 #c1c1c1,
    0 1px 5px 0 #c1c1c1;

  .select-options {
    width: 100%;
    height: 40px;
    padding: 10px;
    background: #ffffff;
    line-height: 15px;
    cursor: pointer;
    position: relative;
    &:hover {
      background: #f9f9f9;
    }
  }
}

.check {
  margin-top: 5%;
  background-color: #004aad;
  padding: 6px 1rem 5px 1rem;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 400;

  &:hover {
    background-color: #003e8f;
  }
}

.move-text {
  color: #aaaaaa;
  font-weight: 400;

  &:hover {
    color: #808080;
  }
}
