.footer-container {
  position: relative;
  transform: translateY(0%);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  color: #004aad;
  padding: 3.5% 12%;
  margin-top: 10rem;
}
.left {
  flex: 7;
  display: flex;
  flex-direction: row;
  border-right: 2px solid #004aad;
}

.left > div {
  flex: 1;
}

.right {
  flex: 3;
  padding-left: 8%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.logo {
  width: 65%;
  height: 100%;
  display: flex;
  padding-bottom: 15px;
}

.title {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2rem;
  padding-bottom: 15px;
}

.content {
  font-weight: 700;
  padding-bottom: 35px;
}

.copyright {
  font-weight: 200;
  color: #9ca3af;
}
