.search-container {
  width: 65%;
  height: 3rem;
}

.bar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 2.3rem;
  border-radius: 9999px;
  padding: 1.4rem;
  color: #000000;
}
