.collapse {
  display: block;
  border-radius: rounded-lg;
  background-color: white;
  padding: 6px;
  box-shadow:
    0 2px 15px -3px rgba(0, 0, 0, 0.07),
    0 10px 20px -2px rgba(0, 0, 0, 0.04);
}
.leftMenu {
  position: sticky;
  top: 15px;
  align-self: flex-start;
}
.selected {
  background-color: #c4c2c2;
  border: none;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  margin: 5px 0px;
  font-size: 15px;
  font-weight: 700;
}

.no-selected {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  margin: 5px 0px;
  font-size: 15px;
  font-weight: 700;
}

.border-right {
  border-right: 1px solid #e7e7e7d8; /* 선 색상을 원하는 대로 설정 */
}

.border-bottom {
  border-bottom: 1px solid #e7e7e7d8; /* 선 색상을 원하는 대로 설정 */
}

.ulTag {
  position: absolute;
  right: 8%;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 60px;
  border-radius: 5px;
}

.wait {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #aed2ec;
  color: white;
  font-weight: 700;

  &:hover {
    background-color: #8dbbdd;
  }
}

.wait option {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
}

.approve {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #1aa90d;
  color: white;
  font-weight: 700;
}

.approve option {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
}

.proceed {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #3e87e7;
  color: white;
  font-weight: 700;

  &:hover {
    background-color: #2275e2;
  }
}

.proceed option {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
}

.reject {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #e33e36;
  color: white;
  font-weight: 700;
}
.reject option {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
}

.rejectTextarea {
  width: 300px;
  height: 200px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 8px;
}

.rejectButton {
  width: 60px;
  height: 30px;
  border-radius: 5px;

  margin: auto;
  margin-top: 8px;

  background-color: #cecece;

  color: #ffffff;
}

.detailForm {
  grid-column: span 5; // col-span-5
  background-color: #f5faff; // bg-blue-50 (Tailwind의 기본 색상 팔레트 기준)
  padding: 2.5rem; // p-10
  border-radius: 10px;
}

.detailDiv {
  margin: 20px 0px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-content: center;
}

.detailFirst {
  padding: 1px;
  font-size: 18px; // text-lg
  font-weight: bold; // font-bold
  grid-column: span 3; // col-span-3
  text-align: left; // text-left
}

.detailSecond {
  font-size: 17px; // text-lg
  grid-column: span 4; // col-span-4
  text-align: left; // text-left
  color: #615f5f;
}

.selectedCategory {
  border: 1px solid #004aad;
  background: #d2e4fc;
  border-radius: 20px;
  width: 70%;
}
.noSelectedCategory {
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 20px;
  width: 70%;
}

.approveButton {
  width: 60px;
  height: 30px;
  border-radius: 5px;

  margin: auto;
  margin-top: 15px;

  background-color: #cecece;

  color: #ffffff;
}
