@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.all-container {
  background-color: #004096;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2% 12% 6.5% 12%;
}

.set-font {
  font-family: 'LINESeedKR-Bd';
}

.arrow {
  transform: translate3d(0px, 0px, 0px);
  opacity: 50%;
  animation: bounce 1s infinite;
}

.center {
  display: flex;
  justify-content: center;
}

.title-text {
  font-family: 'LINESeedKR-Bd';
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 15px;
}

.how-to-use {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag-button {
  padding: 5px;
  font-size: 1.1rem;
  opacity: 70%;

  &:hover {
    opacity: 100%;
  }
}

.supplier-button {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  color: #004096;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  width: 25%;
  margin: 0 10px;

  &:hover {
    opacity: 80%;
  }
}

.enlarge {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.up {
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}
