.all-container {
  background-color: #004096;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2% 12% 6.5% 12%;
}

.center {
  display: flex;
  justify-content: center;
}

.title-text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 15px;
}

.how-to-use {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
}
