.service-container {
  padding: 5% 12% 0 12%;
}

.service-title {
  font-family: 'LINESeedKR-Bd';
  font-weight: 800;
  font-size: 2.1rem;
  line-height: 2.25rem;
  color: #004096;
  padding: 3% 0 12% 0;
  width: 100%;
  text-align: center;
}

.deco {
  width: 3rem;
  height: auto;
  padding-bottom: 20px;
}

.service-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.service-text {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 0 4%;
}

.service-image {
  width: 55%;
  height: auto;
  filter: drop-shadow(0px 4px 20px rgba(164, 164, 164, 0.25));
}

.content-title {
  font-family: 'LINESeedKR-Bd';
  font-weight: 800;
  font-size: 1.9rem;
  line-height: 2.25rem;
  margin-bottom: 6%;
}

.content-ex {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
