@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

.page-container {
  padding: 50px 0px;
}

$blue: #004aad;
$skyblue: #6ba9d4;

.color-blue {
  color: $blue;
}

.color-skyblue {
  color: $skyblue;
}

.bg-blue {
  background-color: $blue;
}

.bg-skyblue {
  background-color: $skyblue;
}
